// В этом файле должны быть стили для БЭМ-блока rating, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rating {

  $block-name:                &; // #{$block-name}__element
}
