// В этом файле должны быть стили только для БЭМ-блока field-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lightest:               hsl(0, 0%, 90%);
$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$border-radius:               3px !default;

.field-select {
  display: block;
  margin-bottom: ($line-height / 2);

  &__name {
    font-weight: 700;
    display: block;
    margin-bottom: 0.4em;
  }

  &__input-wrap {}

  &__select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: $line-height;
    padding: $field-padding-vertical $field-padding-horizontal;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: none;
    background-color: #fff;
    background-image: svg-load('../blocks/field-select/img_to_bg/select-down.svg');
    background-repeat: no-repeat;
    background-position: right 0.3em center;
    background-size: 1.063em 0.688em;

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lightest;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
