@import "./src/less/variables.less";     // только для удобства обращения к переменным
@import "./src/less/mixins/mixins.less"; // только для удобства обращения к примесям


.field-select {
  display: block;
  margin-bottom: (@line-height / 2);

  &__name {
    font-weight: 700;
    display: block;
    margin-bottom: round(@line-height / 4, 2);
  }

  &__input-wrap {}

  &__select {
    margin-bottom: round(@line-height / 3, 2);
  }

  &__help-text {
    .help-text();
  }
}
