@import '../../less/variables.less';     // только для удобства обращения к переменным


.field-select {
  display: block;
  margin-bottom: (@line-height / 2);

  &__name {
    font-weight: 700;
    display: block;
    margin-bottom: round(@line-height / 4, 2);
  }

  &__input-wrap {}

  &__select {
    appearance: none;
    background-image: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/field-select/img_to_bg/select-down.svg');
    background-repeat: no-repeat;
    background-position: right 0.3em center;
    background-size: 1.063em 0.688em;

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
        display: none;
    }
  }

  &__help-text {
    .help-text();
  }
}
