// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: @screen-lg) {
      display: flex;
      flex-wrap: wrap;
    }

    &--level-2 {
      display: none;

      @media (min-width: @screen-lg) {
        display: none;
      }
    }
  }

  &__item {
    display: block;
  }
}
