// В этом файле должны быть стили только для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

.main-nav {
  position: relative;
  z-index: 10;

  // первый уровень

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js .main-nav--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    &--active {}
  }

  &__link {
    display: block;
    padding: 0.5em;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }



  // второй уровень

  &__lvl-2 {

    @media (min-width: $menu-desktop-width) {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 0.3s;

      .main-nav__item:hover & {
        opacity: 1;
        height: auto;
        overflow: visible;
      }
    }
  }

  &__list-lvl-2 {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item-lvl-2 {
    position: relative;

    &--active {}
  }

  &__link-lvl-2 {
    display: block;
    padding: 0.5em;
    text-decoration: none;

    @media (max-width: ($menu-desktop-width - 1)) {
      padding-left: 1.2em;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }



  // третий уровень

  &__lvl-3 {

    @media (min-width: $menu-desktop-width) {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 100%;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 0.3s;

      .main-nav__item-lvl-2:hover & {
        opacity: 1;
        height: auto;
        overflow: visible;
      }
    }
  }

  &__list-lvl-3 {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item-lvl-3 {
    position: relative;

    &--active {}
  }

  &__link-lvl-3 {
    display: block;
    padding: 0.5em;
    text-decoration: none;

    @media (max-width: ($menu-desktop-width - 1)) {
      padding-left: 2.4em;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }



  // переключатель

  &__toggler {

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
