// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {
  margin-left: (@grid-gutter-width / -2);
  margin-right: (@grid-gutter-width / -2);

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: @screen-lg) {
      display: flex;
      flex-wrap: wrap;
    }

    &--level-2 {
      display: none;

      @media (min-width: @screen-lg) {
        display: none;
      }
    }
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
    color: @gray;
    text-decoration: none;

    &:hover, &:focus {
      color: @text-color;
      background-color: @gray-lighter;
      text-decoration: none;
    }
  }
}
