//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
        +main-nav('1')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav.main-nav#nav&attributes(attributes)
    +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    ul.main-nav__list
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem, 1)
          if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
            +main-nav-sublist-wrapper(2)
              each menuItem2 in menuItem.childs
                +main-nav-item(selectedID, menuItem2, 2)
                  if (typeof(menuItem2.childs) !== 'undefined' && menuItem2.childs)
                    +main-nav-sublist-wrapper(3)
                      each menuItem3 in menuItem2.childs
                        +main-nav-item(selectedID, menuItem3, 3)

mixin main-nav-item(selectedID, item, level)
  -
    var thisItemClass = 'main-nav__item';
    var thisLinkClass = 'main-nav__link';
    if(selectedID == item.id) {
      thisItemClass += '  main-nav__item--active';
    }
    if(item.childs) {
      thisItemClass += '  main-nav__item--has-child';
    }
    if(level > 1) {
      thisItemClass += '  main-nav__item--lvl-' + level;
      thisLinkClass += '  main-nav__link--lvl-' + level;
    }

  li(class= thisItemClass)
    a(class= thisLinkClass, href=item.url)= item.name
    block

mixin main-nav-sublist-wrapper(level)
  -
    var divClass = 'main-nav__sublist-wrapper  main-nav__sublist-wrapper--lvl-' + level;
    var listClass = 'main-nav__list  main-nav__list--lvl-' + level;
  div(class= divClass)
    ul(class= listClass)
      block
