-
  var mainMenu = [
    {
      "id": "0",
      "name": "Главная страница",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Страницы",
      "url": "/pages",
      "childs": [
        {
          "id": "10-0",
          "name": "О компании",
          "url": "pages/about"
        },
        {
          "id": "10-10",
          "name": "Услуги",
          "url": "pages/services",
          "childs": [
            {
              "id": "10-10-0",
              "name": "Вёрстка",
              "url": "pages/services/serve"
            },
            {
              "id": "10-10-10",
              "name": "Стриптиз",
              "url": "pages/services/strip"
            }
          ]
        },
        {
          "id": "10-20",
          "name": "Ещё одна страница",
          "url": "pages/some"
        },
      ]
    },
    {
      "id": "20",
      "name": "Репозиторий",
      "url": "https://github.com/nicothin/NTH-start-project"
    },
    {
      "id": "30",
      "name": "Контакты автора",
      "url": "https://nicothin.pro/contact"
    },
  ];
