-
  var mainMenu = [
    {
      "id": "1",
      "name": "Главная страница",
      "url": "/"
    },
    {
      "id": "2",
      "name": "Страницы",
      "url": "",
      "childs": [
        {
          "id": "21",
          "name": "О компании",
          "url": "/about"
        },
        {
          "id": "22",
          "name": "Услуги",
          "url": "/services",
          "childs": [
            {
              "id": "221",
              "name": "Вёрстка",
              "url": "/serve"
            },
            {
              "id": "221",
              "name": "Стриптиз",
              "url": "/strip"
            }
          ]
        }
      ]
    },
    {
      "id": "3",
      "name": "Репозиторий",
      "url": "https://github.com/nicothin/NTH-start-project"
    },
    {
      "id": "4",
      "name": "Контакты автора",
      "url": "http://nicothin.pro/"
    }
  ];
