//- Все примеси в этом файле должны начинаться c имени блока (table)

mixin table(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +table()
          tr
            th Имя
            th Фамилия
            th Мыло
          tr
            td Иннокентий
            td Иванов
            td Хозяйственное
          tr
            td Васисуалий
            td Римский-Корсаков
            td Душистое
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' table--' + modsList[i].trim();
      }
    }

  table.table(class=allMods)&attributes(attributes)
    block
