// В этом файле должны быть стили для БЭМ-блока field-actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color--muted:           hsl(0, 0%, 50%) !default;

$font-size--small:            0.75em !default;

$line-height:                 1.375em !default;

.field-actions {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-top: $line-height;
  margin-bottom: ($line-height / 2);

  .btn {
    margin-bottom: ($line-height / 2);
  }

  &__text {
    display: block;
    margin-top: ($line-height / 2);
    margin-bottom: ($line-height / 2);
    font-size: $font-size--small;
    color: $text-color--muted;
    line-height: 1.2em;
  }
}
