build/*
!build/readme.md
design/
src/blocks/sprite-svg--localstorage/img/*.svg
src/docs-files/docs.css

.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
.publish
ex_files
Thumbs.db
