// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;

  &__item {
    display: block;
    padding: 0.5em;
    min-width: 2.5em;
    border: 1px solid $border-color;
    text-decoration: none;
    text-align: center;
    color: $text-color;

    & + & {
      border-left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-color;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        background-color: $gray-lightest;
      }
    }

    &--active {
      background-color: $gray-lightest;
    }
  }
}
