//- Блок для кастомного скролла baron: https://github.com/Diokuz/baron
//- Нуждается в соотв. зависимости: https://www.npmjs.com/package/baron
//- (должна быть указана в ./projectConfig.json, есть по умолчанию)
//- ВНИМАНИЕ! Помимо вызова примеси, нужно включить baron на блоке! см. blocks/baron/baron.js

mixin baron(id, mods, tag)

  //- Принимает:
  //-   id     {string} - ID этого конкретного блока с кастомным скроллом
  //-   mods    {string} - список модификаторов
  //-   tag     {string} - тег
  //- Вызов:
        +baron('some-mod')(style='width:100px; height: 100px')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dicta aliquid nemo, sit possimus, eveniet tempore minus, doloremque incidunt, nihil quos aperiam ab iure quia. Ipsa sit porro incidunt, sed!
        .some-block
          +baron('', 'section')(class='some-block__demo')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dicta aliquid nemo, sit possimus, eveniet tempore minus, doloremque incidunt, nihil quos aperiam ab iure quia. Ipsa sit porro incidunt, sed!

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' baron--' + modsList[i].trim();
      }
    }
    var parentTag = 'div';
    if(typeof(tag) !== 'undefined' && tag) {
      parentTag = tag;
    }

  #{parentTag}.baron(id=id, class=allMods)&attributes(attributes)
    .baron__scroller
      block
    .baron__track
      //- .baron__control.baron__up ▲
      .baron__free
        .baron__bar
      //- .baron__control.baron__down ▼
