// В этом файле должны быть стили для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$color-success:               hsl(120, 39%, 54%) !default;
$color-danger:                hsl(2, 64%, 58%) !default;
$color-warning:               hsl(35, 84%, 62%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$font-size--h3:               1.5em !default;
$border-radius:               3px !default;

.alert {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  padding: 0.7em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  color: $text-color;
  background-color: $gray-lightest;

  > * {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    display: block;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: $font-size--h3;
    font-weight: 400;
    line-height: 1.4;
    color: inherit;
  }

  &--danger {
    background-color: $color-danger;
    border: 1px solid darken($color-danger, 10%);
    color: #fff;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &--success {
    background-color: $color-success;
    border: 1px solid darken($color-success, 10%);
    color: #fff;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &--warning {
    background-color: lighten($color-warning, 30%);
    border: 1px solid lighten($color-warning, 20%);
    color: $text-color;
  }
}
