@mixin field-help-text {
  display: block;
  padding-top: 0.4em;
  font-size: $font-size-sm;
  line-height: 1.2em;
  color: $text-color--muted;

  &:empty { // stylelint-disable-line
    display: none;
  }
}


@mixin field-focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba($color-main, $opacity);
}


@mixin field-name {
  display: block;
  margin-bottom: 0.4em;
  line-height: $line-height;
  font-weight: 700;
}
