@import '../../less/variables.less';     // только для удобства обращения к переменным


.btn {
  .btn();
  .btn-color(@text-color; @gray-lighter; @gray-light);
  .btn-size();

  &--main {
    .btn-color(#fff; @color-main; @color-main);
  }

  &--danger {
    .btn-color(#fff; @color-danger; @color-danger);
  }

  &--success {
    .btn-color(#fff; @color-success; @color-success);
  }

  &--lg {
    .btn-size(lg);
  }

  &--sm {
    .btn-size(sm);
  }

  &--block {
    width: 100%;
    text-align: center;
    justify-content: center;

    & + & {
      margin-top: (@line-height / 2);
    }
  }
}
