// В этом файле должны быть стили только для БЭМ-блока swipe, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;

  & > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}
