.field {
  display: block;
  margin-bottom: (@line-height / 2);

  &--error {
    color: @color-danger;

    .field__help-text {
      color: @color-danger;
    }

    .field__input {
      color: @color-danger;
      border-color: @color-danger;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/form_field_bg/close.svg');
      background-repeat: no-repeat;
      background-position: right .3em center;

      &::placeholder {
        color: @color-danger;
      }

      &:focus {
        outline-color: @color-danger;
      }
    }
  }

  &--checkbox,
  &--radio {
    .field__name {
      display: inline-block;
      font-weight: inherit;
      font-family: inherit;
      margin-bottom: 0;
    }
  }

  &__name {
    font-weight: 700;
    display: block;
    margin-bottom: round(@line-height / 4, 2);
  }

  &__input-wrap {}

  &__input,
  &__select {
    margin-bottom: round(@line-height / 4, 2);
  }

  &__select {
    // appearance: none;
  }

  &__help-text {
    font-size: @font-size--small;
    color: @text-color--muted;
  }
}
