.form {
  &:not(:last-child) {
    margin-bottom: @line-height;
  }

  &--horizontal {

    .field-text,
    .field-checkbox,
    .field-radio,
    .field-select,
    .field-file {
      display: flex;
    }

    .field-text__name,
    .field-select__name {
      width: 15rem;
      padding-top: .42em;
      padding-right: .6em;
      margin-bottom: 0;
    }

    .field-checkbox__title,
    .field-radio__title,
    .field-file__name {
      width: 15rem;
      padding-right: .6em;
      margin-bottom: 0;
    }

    .field-text__input-wrap,
    .field-select__select-wrap,
    .field-file__input-wrap {
      flex-grow: 1;
    }

    .field-actions {
      padding-left: 15rem;
    }
  }
}
