//- Шаблон страницы с боковым меню (off-canvas)

include mixins.pug

doctype html
html(class='no-js  page', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/blocks-library.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .off-canvas#off-canvas
      aside.off-canvas__aside(role='complementary', aria-label='Меню')
        block off-canvas
      main.off-canvas__page-content.components-demo.blocks-library(role='main')

        //- Реальный контент страницы
        .page__inner
          .page__content
            block header
              p «шапка»
            block content
              p содержимое страницы
          .page__footer-wrapper
            block footer
              p «подвал»

      .off-canvas__overlay(data-toggle='off-canvas')

    block page-bottom
      script(src='js/blocks-library.js')
