//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ./src/blocks/page/page.pug
include ./src/blocks/typo/typo.pug
include ./src/blocks/sprite-svg/sprite-svg.pug
include ./src/blocks/sprite-png/sprite-png.pug
include ./src/blocks/page-header/page-header.pug
include ./src/blocks/page-footer/page-footer.pug
include ./src/blocks/logo/logo.pug
include ./src/blocks/main-nav/main-nav.pug
include ./src/blocks/close/close.pug
include ./src/blocks/burger/burger.pug
include ./src/blocks/code/code.pug
include ./src/blocks/thumb/thumb.pug
include ./src/blocks/alert/alert.pug
include ./src/blocks/menu/menu.pug
include ./src/blocks/label/label.pug
include ./src/blocks/loader/loader.pug
include ./src/blocks/table/table.pug
include ./src/blocks/table-responsive/table-responsive.pug
include ./src/blocks/pagination/pagination.pug
include ./src/blocks/breadcrumbs/breadcrumbs.pug
include ./src/blocks/progress/progress.pug
include ./src/blocks/pie-chart/pie-chart.pug
include ./src/blocks/embed-responsive/embed-responsive.pug
include ./src/blocks/comment/comment.pug
include ./src/blocks/tooltip/tooltip.pug
include ./src/blocks/btn/btn.pug
include ./src/blocks/field-text/field-text.pug
include ./src/blocks/field-checkbox/field-checkbox.pug
include ./src/blocks/field-radio/field-radio.pug
include ./src/blocks/field-toggler/field-toggler.pug
include ./src/blocks/field-file/field-file.pug
include ./src/blocks/field-range/field-range.pug
include ./src/blocks/field-select/field-select.pug
include ./src/blocks/field-actions/field-actions.pug
include ./src/blocks/fields-group/fields-group.pug
include ./src/blocks/form/form.pug
include ./src/blocks/scroll-link/scroll-link.pug
include ./src/blocks/to-top/to-top.pug
include ./src/blocks/dropdown/dropdown.pug
include ./src/blocks/owl-carousel/owl-carousel.pug
include ./src/blocks/swipe/swipe.pug
include ./src/blocks/nouislider/nouislider.pug
include ./src/blocks/off-canvas/off-canvas.pug
include ./src/blocks/modal/modal.pug
include ./src/blocks/tabs/tabs.pug
include ./src/blocks/object-fit-polyfill/object-fit-polyfill.pug
include ./src/blocks/or/or.pug
include ./src/blocks/baron/baron.pug
