//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../blocks/page/page.pug
include ../blocks/typo/typo.pug
include ../blocks/sprite-svg/sprite-svg.pug
include ../blocks/sprite-png/sprite-png.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/close/close.pug
include ../blocks/burger/burger.pug
include ../blocks/code/code.pug
include ../blocks/thumb/thumb.pug
include ../blocks/alert/alert.pug
include ../blocks/menu/menu.pug
include ../blocks/label/label.pug
include ../blocks/loader/loader.pug
include ../blocks/table/table.pug
include ../blocks/table-responsive/table-responsive.pug
include ../blocks/pagination/pagination.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/progress/progress.pug
include ../blocks/pie-chart/pie-chart.pug
include ../blocks/embed-responsive/embed-responsive.pug
include ../blocks/comment/comment.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/btn/btn.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-file/field-file.pug
include ../blocks/field-range/field-range.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/fields-group/fields-group.pug
include ../blocks/form/form.pug
include ../blocks/is-mobile/is-mobile.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/to-top/to-top.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/swipe/swipe.pug
include ../blocks/nouislider/nouislider.pug
include ../blocks/off-canvas/off-canvas.pug
include ../blocks/modal/modal.pug
include ../blocks/tabs/tabs.pug
include ../blocks/object-fit-polyfill/object-fit-polyfill.pug
include ../blocks/or/or.pug
include ../blocks/baron/baron.pug
