// В этом файле должны быть стили для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

.field-radio {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: ($line-height / 2);
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
  }

  &__name-text {

    // своя радиокнопка с картинкой

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0.1em;
    //   left: 0;
    //   width: 14px;
    //   height: 14px;
    //   background-image: svg-load('../blocks/field-radio/img_to_bg/radiobutton.svg');
    //   background-size: 100%;
    // }
    // @at-root input:checked ~ &:before {
    //   background-image: svg-load('../blocks/field-radio/img_to_bg/radiobutton--checked.svg');
    // }

    // / своя радиокнопка с картинкой

    // своя радиокнопка без картинки

    &:before {
      content: '';
      position: absolute;
      top: 0.1em;
      left: 0;
      width: 14px;
      height: 14px;
      border: 2px solid currentColor;
      border-radius: 50%;
    }

    @at-root input:focus ~ &:before {
      @include field-focus;
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(0.1em + 4px);
      left: 4px;
      width: 6px;
      height: 6px;
      opacity: 0;
      border-radius: 50%;
      background-color: currentColor;
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }

    // / своя радиокнопка без картинки
  }

  &__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
