// Базовые цвета

@gray-darkest:                #1C1C1C;
@gray-darker:                 #3A3A3A;
@gray-dark:                   #5F5F5F;
@gray:                        #808080;
@gray-light:                  #B1B1B1;
@gray-lighter:                #eceeef;
@gray-lightest:               #f7f7f9;

@color-main:                  #0275d8;
@color-success:               #5cb85c;
@color-danger:                #d9534f;



// Семантические цвета

@text-color:                  @gray-darkest;
@text-color--muted:           @gray;
@body-bg:                     #fff;

@link-color:                  @color-main;
@link-color--hover:           darken(@color-main, 15%);

@border-color:                @gray-light;



// Базовая типографика (Mobile: 1 rem = 10px)

@font-size:                   1.6rem;
@font-size--h1:               3.6rem;
@font-size--h2:               3rem;
@font-size--h3:               2.4rem;
@font-size--h4:               2.0rem;
@font-size--h5:               1.6rem;
@font-size--h6:               1.6rem;
@font-size--small:            round((@font-size / 100 * @font-size--small-percent), 2);
@font-size--small-percent:    75%;

@line-height:                 1.375em;

@font-family:                 -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
@font-family--serif:          Georgia, "Times New Roman", Times, serif;
@font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
@font-family--headings:       @font-family;



// Модульная сетка

@grid-columns:                12;
@grid-gutter-width:           3rem;



// Ширины

@screen-xs:                   0;
@screen-sm:                   480px;
@screen-md:                   768px;
@screen-lg:                   992px;
@screen-xl:                   1200px;
@screen-xxl:                  1800px;

@container-sm:                100%;
@container-md:                100%;
@container-lg:                @screen-lg - 30;
@container-xl:                @screen-xl - 30;
@container-xxl:               @screen-xxl - 30;



// Z-index

@z-index-dropdown:            10;



// Формы, кнопки

@field-padding-top:           0.313em;
@field-padding-bottom:        0.313em;
@field-padding-horizontal:    0.438em;



// Разное

@border-radius:               .3rem;       // универсальное сглаживание углов бордюра
@opacity:                     .7;          // универсальная прозрачность
@transition-time:             .3s;         // время плавных переходов
