// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 0 15px;
  margin-bottom: 30px;

  &__inner {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    margin-bottom: 20px;
  }

  &__img {
    display: block;
  }

  &__title {
    margin: 0 0 20px;
  }

  &__new {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background: $color-success;
    transform: translateX(-50%) rotate(-10deg);
  }

  &__price {
    flex-shrink: 0;
    margin: auto 0 0;
    font-size: $font-size-h3;
    font-weight: 700;
    line-height: 1;
  }

  &__buy {
    flex-shrink: 0;
  }
}
