// Для импорта в диспетчер подключений: @import './src/blocks/navbar/navbar.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.navbar {
  padding: 0.6rem;
  background-color: @gray-lightest;

  &__inner {
    .container();
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left {
    margin-right: 1em;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: @screen-lg) {
      justify-content: flex-start;
    }
  }

  &__toggler {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
    color: @text-color;
    background-color: @gray-lighter;
    border: 1px solid @gray-light;
    border-radius: @border-radius;

    @media (min-width: @screen-lg) {
      display: none;
    }
  }

  &__toggler-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 0.3rem;
    background: currentColor;
    border-radius: 0.2rem;
    position: relative;
    transition: background 0.3s 0.3s;

    &:before,
    &:after {
      width: 100%;
      height: 0.3rem;
      background: currentColor;
      border-radius: 0.2rem;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top 0.3s 0.3s, transform 0.3s;
    }

    &:before {
      top: 1rem;
    }

    &:after {
      top: -1rem;
    }
  }

  &__toggler-checkbox {
    &:checked {
      & ~ .navbar__toggler .navbar__toggler-icon {
        transition: background .3s 0;
        background: transparent;

        &:before,
        &:after {
          transition: top 0.3s, transform 0.3s 0.3s;
          top: 0;
        }

        &:before {
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }

      & ~ .navbar__content {
        display: block;
      }
    }
  }

  &__content {
    display: none;
    width: 100%;

    @media (min-width: @screen-lg) {
      display: block;
    }
  }

  &__form {
    .fields-group {
      margin-bottom: 0;
    }
  }
}
