@import '../../less/variables.less';     // только для удобства обращения к переменным


.blocks-library {
  &__item {
    position: relative;
    padding: 1rem;
    border: 2px dashed @gray-lighter;
    margin-bottom: 2rem;

    @media (min-width: @screen-md) {
      padding: 1.5rem 2rem 1.5rem 5rem;
      min-height: 18rem;
    }

    &:before {
      content: attr(data-name);
      position: absolute;
      top: -1em;
      left: 0;
      font-weight: 700;
      text-transform: lowercase;
      font-size: 1.7rem;
      line-height: 2rem;
      height: 2rem;
      text-align: right;
      white-space: nowrap;
      color: @gray-light;

      @media (min-width: @screen-md) {
        left: 2.5rem;
        top: 20rem;
        width: 21rem;
        transform: rotate(-90deg);
        transform-origin: 0 100%;
      }
    }
  }

  &__title {
    margin-top: 0;
  }

  &__sub-item {
    &:not(:first-child) {
      margin-top: 2.5em;
    }
  }

  &__sub-item-title {
    display: block;
    text-transform: lowercase;
    color: @gray-light;
    font-size: @font-size;
    margin-bottom: 0.7em;
    border-bottom: 2px dashed @gray-lighter;
  }
}
