@import '../../less/variables.less';     // только для удобства обращения к переменным


.blocks-library {
  &__item {
    position: relative;
    padding: 1rem;
    border: 2px dashed @gray-lighter;
    margin-bottom: 2.5em;

    @media (min-width: @screen-md) {
      padding: 1.5rem 2rem 1.5rem 5rem;
      min-height: 18rem;
      margin-bottom: 5rem;
    }

    &:before {
      content: attr(data-name);
      position: absolute;
      top: -1em;
      left: 0;
      font-weight: 700;
      text-transform: lowercase;
      font-size: 1.7rem;
      line-height: 2rem;
      height: 2rem;
      text-align: right;
      white-space: nowrap;
      color: @gray-light;

      @media (min-width: @screen-md) {
        left: 2.5rem;
        top: 20rem;
        width: 21rem;
        transform: rotate(-90deg);
        transform-origin: 0 100%;
      }
    }
  }

  &__item-title {
    margin: 0.3em 0;
  }

  &__sub-item {}

  &__sub-item-title {}
}



.hljs {
  display: block;
  width: auto;
  color: @text-color;
  background-color: transparent;
  padding: 0;
}

.hljs-comment,
.hljs-quote {
  color: #999;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #4f9fcf;
}

.hljs-string,
.hljs-doctag {
  color: #d44950;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #2f6f9f;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
