extends ../pug/layout.pug

block meta
  title Error 404
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('-1')

block content
  h1 Error 404
  p Page not found.

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
