extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    +logo('/')
      img(src='img/temp-logo.svg', alt='Logo', height='15')
    +main-nav('10')

block content
  h1 Заголовок
  p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].

block footer
  +page-footer()
    p «Подвал»
    p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

//- block page-bottom
//-   script(src='js/some.js')
