// В этом файле должны быть стили для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$border-radius:               3px !default;

$transition-time:             0.3s !default;

.dropdown {

  $block-name:                &;
  // #{$block-name}__element

  position: relative;
  display: inline-block;

  &__menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    max-width: 90vw;
    width: 1px;
    margin: 0;
    background-color: #fff;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity $transition-time;

    &--up {
      top: auto;
      bottom: 100%;
    }

    &--right {
      left: auto;
      right: 0;
    }
  }

  &__menu-inner {
    padding: 1em;
  }



  &--open & {

    &__menu {
      z-index: 1;
      visibility: visible;
      opacity: 1;
      width: auto;
    }
  }
}
