// В этом файле должны быть стили для БЭМ-блока media, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.media {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  margin-top: $line-height;
  margin-bottom: $line-height;

  &__picture {
    flex-shrink: 0;
    margin-right: 1em;
  }

  &__body {
    flex-grow: 1;

    *:first-child {
      margin-top: 0;
    }
  }
}
