// В этом файле должны быть стили только для БЭМ-блока field-file, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$color-danger:                hsl(2, 64%, 58%) !default;

.field-file {

  &--error {

    .field-file__name,
    .field-file__name-text,
    .field-file__input,
    .field-file__help-text {
      color: $color-danger;
    }

    .field-file__name-text {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }
}
