// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  white-space: nowrap;

  img {
    display: block;
  }
}
