// Для импорта в диспетчер подключений: @import './src/blocks/table-responsive/table-responsive.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


//------------------------------------------------------------------------------
//  Адаптивные таблицы (требуют наличия атрибутов data-label на тегах td)
//------------------------------------------------------------------------------

.table-responsive {

  @media (max-width: (@screen-md - 1)) {
    display: block;
    border: 0;

    caption {
      display: block;
      width: 100%;
      text-align: left;
    }

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;

      tr {
        display: block;
        border: 1px solid @gray-lighter;
        border-bottom: 0;

        &:not(:last-child) {
          margin-bottom: @line-height;
        }
      }

      td {
        display: block;
        width: 100%;
        border-right: 0 !important;
        border-left: 0 !important;

        &:before {
          display: block;
          font-weight: 700;
          content: attr(data-label);
        }
      }
    }
  }
}
