// В этом файле должны быть стили только для БЭМ-блока table-responsive, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

.table-responsive {

  @media (max-width: ($screen-md - 1)) {
    display: block;
    border: 0;

    caption {
      display: block;
      width: 100%;
      text-align: left;
    }

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;

      tr {
        display: block;
        border: 1px solid $border-color;
        border-bottom: 0;

        &:not(:last-child) {
          margin-bottom: $line-height;
        }
      }

      td {
        display: block;
        width: 100%;
        border-right: 0 !important;
        border-left: 0 !important;

        &:before {
          display: block;
          font-weight: 700;
          content: attr(data-label);
        }
      }
    }
  }
}
