// В этом файле должны быть стили для БЭМ-блока pie-chart, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;
$font-size:                   14px !default;

$gray-light:                  hsl(0, 0%, 60%) !default;
$gray-lighter:                hsl(0, 0%, 80%) !default;

.js .pie-chart {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  position: relative;

  &__svg {
    display: block;
    transform: rotate(-90deg);
  }

  &__circle-back {
    fill: $gray-lighter;
  }

  &__circle {
    fill: $gray-lighter;
    stroke: $gray-light;
  }

  &__descr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
