// В этом файле должны быть стили для БЭМ-блока comment, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.comment {

  $block-name:                &; // #{$block-name}__element

  margin-top: $line-height;
  margin-bottom: $line-height;

  & & {
    padding-left: calc(60px + 1em);
  }

  & & & & {
    padding-left: 0;
  }

  &__inner {
    display: flex;
  }

  &__avatar-wrap {
    flex-shrink: 0;
    margin-right: 1em;

    img {
      display: block;
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }

  &__text {
    flex-grow: 1;

    *:first-child {
      margin-top: 0;
    }
  }

  &__header {}

  &__footer {}
}
