//- Все примеси в этом файле должны начинаться c имени блока (close)

mixin close(label)

  //- Принимает:
  //-   label {string} - описание, значение атрибута aria-label
  //- Вызов:
        +close('Закрыть')

  button.close(aria-label=label)&attributes(attributes)
    span= label
