//- Все примеси в этом файле должны начинаться c имени блока (close)
//- Принимает:
//-   label {string} - описание, значение атрибута aria-label
//- Вызов:
//-   +close('Закрыть')

mixin close(label)
  button.close(aria-label=label)&attributes(attributes)
    span
