// В этом файле должны быть стили только для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

.burger {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  cursor: pointer;

  > span {
    display: inline-block;
    width: 100%;
    height: $toggler-part-height;
    background: $toggler-part-bg-color;
    position: relative;
    transition: background 0.3s 0.3s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $toggler-part-bg-color;
      transform-origin: 50% 50%;
      transition: top 0.3s 0.3s, transform 0.3s;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }

  &--close {

    > span {
      transition: background 0.2s 0s;
      background: transparent;

      &:before,
      &:after {
        transition: top 0.3s, transform 0.3s 0.3s;
        top: 0;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
