extends pug/layout.pug

block meta
  title Библиотека
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/blocks-library.css')
  style.
    .components-demo {
      display: block;
      padding: 1em;
      margin: auto;
      max-width: 1200px;
      font-family: sans-serif;
    }
    .off-canvas__aside {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  script.
    document.addEventListener('DOMContentLoaded', function(){

      // наполнение бокого меню
      var demoBlocks = document.querySelectorAll('.blocks-library__item');
      var offCanvasMenu = '<li class="menu__item"><a class="menu__link" data-toggle-native="off-canvas" href="/">Главная страница</a></li><li class="menu__item"><a class="menu__link" data-toggle-native="off-canvas" href="https://github.com/nicothin/NTH-start-project">Исходный репозиторий</a></li><li class="menu__item menu__item--separator"><a class="menu__link" data-toggle-native="off-canvas" href="http://nicothin.github.io/NTH-start-project/blocks-demo.html">Демка на github pages</a></li>';
      for (var i=0; i<demoBlocks.length; i++){
        var classes = 'menu__item';
        var block = demoBlocks[i];
        if (block.classList.contains('blocks-library__item--menusep')) { classes += ' menu__item--separator'; }
        offCanvasMenu += '<li class="'+classes+'"><a class="menu__link" data-toggle-native="off-canvas" href="#'+block.getAttribute('id')+'">'+block.querySelector('.blocks-library__item-title').textContent+'</a></li>';
      }
      var offCanvasMenuContent = document.getElementById('off-canvas-menu');
      offCanvasMenuContent.innerHTML = offCanvasMenu;

      // просмотр примера кода для блока
      var codeShowTriggers = document.querySelectorAll('.blocks-library__code-show-trigger');
      for (var i = 0; i < codeShowTriggers.length; i++) {
        codeShowTriggers[i].addEventListener('click', function(){
          this.closest('.blocks-library__code-wrapper').querySelector('.blocks-library__code').classList.toggle('blocks-library__code--shown');
        });
      }

    });
  //- script(src='js/SOME.js')

block off-canvas
  ul#off-canvas-menu.menu

block header
  //- -var page = 'blog';
  //- p Шапка



block content

  //- Спрайт с картинкой папки (картинки перед заголовками с названием блоков)
  svg(xmlns='http://www.w3.org/2000/svg', style='display:none')
    symbol#folder(viewbox='0 0 60 60')
      path(d='M56.98 11.5H28.02V6.52c0-1.665-1.355-3.02-3.02-3.02H3.02C1.353 3.5 0 4.854 0 6.52v46.96c0 1.665 1.354 3.02 3.02 3.02h53.96c1.665 0 3.02-1.354 3.02-3.02V14.52c0-1.666-1.354-3.02-3.02-3.02zM58 53.48c0 .563-.457 1.02-1.02 1.02H3.02c-.563 0-1.02-.457-1.02-1.02V22.5h56v30.98zM2 20.5V6.52c0-.563.457-1.02 1.02-1.02H25c.562 0 1.02.457 1.02 1.02v6.98h30.96c.563 0 1.02.457 1.02 1.02v5.98H2z')
      path(d='M19 33.5h14c.552 0 1-.447 1-1s-.448-1-1-1H19c-.552 0-1 .447-1 1s.448 1 1 1zm0 6h22c.552 0 1-.447 1-1s-.448-1-1-1H19c-.552 0-1 .447-1 1s.448 1 1 1zm0 6h22c.552 0 1-.447 1-1s-.448-1-1-1H19c-.552 0-1 .447-1 1s.448 1 1 1z')

  //- Вывод блока библиотеки
  mixin block-lib(id, title, sep)
    section.blocks-library__item(id=id)(class= sep ? 'blocks-library__item--menusep' : '')
      h2.blocks-library__item-title
        a(href=repoUrl + '/tree/master/src/blocks/' + id, class="blocks-library__item-title-link", title="Папка блока в репозитории")
          svg(width="20", height="20")
            use(xlink:href="#folder")
        != title
      block

  //- Вывод фрагмента кода в блоке библиотеки
  mixin block-lib-code(id, hideBurger)
    .blocks-library__code-wrapper
      span.blocks-library__code-show-trigger(title='Показать код')
        - if (!hideBurger)
            i.blocks-library__code-icon
      .blocks-library__code(id=id)
        block

  //- Пример вызова примесей вывода блока:
    +block-lib('close', 'Закрыть', false)
      include:markdown-it(linkify) blocks/close/close.md
      div
        +close('Закрыть')
      +block-lib-code()
        include:show-code() blocks/close/close.pug



  h1 Страница демонстрации блоков, доступных на #[a(href="index.html") проекте]

  +block-lib('page', 'Страница', false)
    p Блок страницы (#[code html class="page"]), благодаря которому применяются некоторые глобальные стили:
    ul
      li Смена боксовой модели на всех узлах: #[code box-sizing: border-box;] наследуется от #[code html]
      li Нормализация вьюпорта для windows-телефонов.
      li Сброс отступов для #[code body]
      li Стилевой обход 300 мс задержки #[code touch-action: manipulation;].
      li Ограничение размера картинок до 100% ширины родителя.
    p В стилизацию блока включена стилизация «прибитого подвала».
    +block-lib-code()
      code &lt;!DOCTYPE html>
      code &lt;html class="no-js  page" lang="ru">
      code &lt;head>...&lt;/head>
      code &lt;body>
      code   &lt;div class="page__inner">
      code     &lt;div class="page__content">Основное содержимое&lt;/div>
      code     &lt;div class="page__footer-wrapper">Прибитый «подвал»&lt;/div>
      code   &lt;/div>
      code &lt;/body>
      code &lt;/html>

  +block-lib('typo', 'Текст, теги', true)
    p Реализуется блоком #[code typo], все стили которого являются глобальными.
    p Параграфы, расстояние между ними. #[a(href="qwert1234") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h1 Заголовок 1
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h2 Заголовок 2
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h3 Заголовок 3
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h4 Заголовок 4
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h5 Заголовок 5
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h6 Заголовок 6
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    ul
      li Пункт 1
        ul
          li Подпункт 1
          li Подпункт 2
      li Пункт 2
      li Пункт 3
    ol
      li Пункт 1
        ol
          li Подпункт 1
          li Подпункт 2
      li Пункт 2
      li Пункт 3
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    dl
      dt Определяемая сущность 1
      dd Некое, возможно, относительно длинное определение упомянутой сущности. Скорее всего, многострочное.
      dt Определяемая сущность 2
      dd Некое, возможно, относительно длинное определение. Скорее всего, длинное, весьма многострочное и многословное.
      dd Некое, возможно, относительно длинное определение упомянутой сущности.
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    hr
    p Параграфы, расстояние между ними. #[a(href="/empty") Ссылка]. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    table
      tr
        td
          code &lt;a>
        td
          a(href="") ссылка
      tr
        td
          code &lt;strong>
        td
          strong действительно значимый текст
      tr
        td
          code &lt;b>
        td
          b просто выделенный текст, лид
      tr
        td
          code &lt;i>
        td
          i иностранное слово или термин
      tr
        td
          code &lt;em>
        td
          em эмфатическое ударение
      tr
        td
          code &lt;s>
        td
          s информация, утратившая актуальность
      tr
        td
          code &lt;del>
        td
          del изменение, внесённое в документ (удаление)
      tr
        td
          code &lt;ins>
        td
          ins изменение, внесённое в документ (добавление)
      tr
        td
          code &lt;mark>
        td
          mark акцент маркерным выделением
      tr
        td
          code &lt;small>
        td
          small малозначимый текст
      tr
        td
          code &lt;abbr>
        td
          abbr(title="Аббревиатура") АББРЕВИАТУРА
      tr
        td
          code &lt;kbd>
        td
          kbd Ctrl + C
      tr
        td
          code &lt;sup>
        td
          | 2
          sup 3
      tr
        td
          code &lt;sub>
        td
          | H
          sub 2
          | O
      tr
        td
          code &lt;code>
        td
          code code
    address
      strong Имя Фамилия
      br
      | г. Лондон, ул. Виндзорский сад, д. 32 (спросить мистера Имя)
      br
      a(href="mailto:user@mail.com") user@mail.com
    blockquote
      p Цитата. Далеко-далеко за словесными горами в стране. Далеко-далеко за словесными горами в стране.
      footer
        cite Emmet
    pre.
      // Форматированный текст с символом переноса строки
      // Вторая строка. Смотри так же #[a(href="#code") БЭМ-блок для кода].

  +block-lib('sprite-svg', 'SVG-спрайт c <a href="https://github.com/w0rm/gulp-svgstore">gulp-svgstore</a>', false)
    p Из файлов папки #[code sprite-svg/svg/] в папку #[code sprite-svg/img/] будет сгенерирован файл спрайта #[code sprite-svg.svg], который далее будет скопирован в папку сборки. Стилевой файл блока не используется. SVG-файлы будут оптимизированы перед сборкой в спрайт. Сам спрайт имеет вид:
    pre.code
      code &lt;svg xmlns="http://www.w3.org/2000/svg" style="display:none">
      code   &lt;symbol id="icon-boo" viewBox="0 0 30 30">&lt;path d="..."/>&lt;/symbol>
      code   &lt;symbol id="icon-bs" viewBox="0 0 28 28">&lt;path d="..."/>&lt;/symbol>
      code  ...
      code &lt;/svg>
    p Для вставки на страницу используйте конструкции #[code svg > use] со ссылками на #[code id] символа:
    pre.code
      code svg(width="32", height="32")
      code   use(xlink:href="img/sprite-svg.svg#icon-boo")
      code &nbsp;
      code //- HTML
      code &lt;svg width="32" height="32">
      code   &lt;use xlink:href="img/sprite-svg.svg#icon-boo">&lt;/use>
      code &lt;/svg>
    p.alert.alert--warning Чтобы использовать ссылки на внешние svg-файлы со спрайтами, используйте #[a(href="https://www.npmjs.com/package/svg4everybody") svg4everybody] (включен в сборку по умолчанию).
    p Демонстрационный контент блока (иконки стрелок):
    svg(width="32", height="32")
      use(xlink:href="img/sprite-svg.svg#temp-icon-right-arrow")
    svg(width="32", height="32")
      use(xlink:href="img/sprite-svg.svg#temp-icon-left-arrow")

  +block-lib('sprite-png', 'PNG-спрайт с <a href="https://github.com/Ensighten/spritesmith">spritesmith</a>', true)


  +block-lib('sprite-png', 'PNG-спрайт с <a href="https://github.com/Ensighten/spritesmith">spritesmith</a>', true)
    include:markdown-it(linkify html='true' typographer='true' quotes='«»') blocks/sprite-png/readme.md

  +block-lib('close', 'Закрыть', false)
    include:markdown-it(linkify html='true' typographer='true' quotes='«»') blocks/close/readme.md
    div
      +close('Закрыть')
    +block-lib-code()
      include:show-code() blocks/close/close.pug

  +block-lib('burger', 'Бургер', false)
    include:markdown-it(linkify html='true' typographer='true' quotes='«»') blocks/burger/readme.md
    div
      +burger('Показать пример кода', 'burger-code', 'blocks-library__code--shown')
    +block-lib-code('burger-code', true)
      include:show-code() blocks/burger/burger.pug

  +block-lib('main-nav', 'Главная навигация TODO', false)
    p По получению ссылками фокуса на их родителей с #[code .main-nav__item] добавляется модификатор #[code .main-nav__item--show-child], что позволяет работать со вложенными меню с клавиатуры (предусмотрено 3 уровня).
    p TODO: доделать
    +block-lib-code()
      code &lt;div>



  .burger.blocks-library__menu-toggler(data-toggle="off-canvas")
    span(data-toggle="off-canvas")



block footer
  //- p Подвал

//- block append page-bottom
//-   script(src='js/SOME.js')
