// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);



// Семантические цвета

$text-color:                  $gray-darkest;
$text-color--muted:           $gray;
$body-bg:                     #fff;

$link-color:                  $color-main;
$link-color--hover:           darken($color-main, 15%);

$border-color:                $gray-light;



// Базовая типографика

$font-size:                   14px;
$font-size--h1:               2.25em;
$font-size--h2:               1.875em;
$font-size--h3:               1.5em;
$font-size--h4:               1.25em;
$font-size--h5:               1em;
$font-size--h6:               1em;
$font-size--small:            0.75em;

$line-height:                 1.375em;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:      0.3em;
$field-padding-horizontal:    0.7em;

$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-xl;
$toggler-part-height:         3px;
$toggler-part-bg-color:       #000;

$z-index-modal:               100;
