@import "./src/less/variables.less";     // только для удобства обращения к переменным
@import "./src/less/mixins/mixins.less"; // только для удобства обращения к примесям



table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

caption {
  padding: .3em;
  color: @text-color--muted;
  text-align: left;
}

td,
th {
  vertical-align: top;
  border-bottom: 1px solid @border-color;
}

th {
  text-align: left;
  padding: .3em;
}

td {
  padding: .3em;
}
