//- Все примеси в этом файле должны начинаться c имени блока (fields-group)

mixin fields-group(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +fields-group()
          +field-text({
            helpText: 'Подсказка',
            attrs: {
              placeholder: 'Логин'
            }
          })
          +field-text({
            attrs: {
              type: 'password',
              placeholder: 'Пароль'
            },
          })
          +field-actions()
            +btn('Отправить', 'primary')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' fields-group--' + modsList[i].trim();
      }
    }

  .fields-group(class=allMods)&attributes(attributes)
    block
