// В этом файле должны быть стили только для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.owl-carousel {}
